<div id="about-page">
  <h1>About</h1>
  <p>Suntem o afacere de succes care tinteste catre afacerile cu filme.</p>
  <h2>Meet Our Team</h2>

  <div class="oj-flex">
    <!-- Primul membru al echipei -->
    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-xl-4 oj-xxl-4">
      <div class="oj-flex-item">
        <h3>John Smith</h3>
        <p>CEO</p>
        <img
          src="https://media.istockphoto.com/id/1193290387/photo/portrait-of-young-businessman-standing-in-his-office-with-arms-crossed.jpg?s=612x612&w=0&k=20&c=DdgYzd4WTTtlhKMM2dBqUxSxobWs7MC-rZZxflyF6oY="
          alt="John Smith"
          height="200"
        />
      </div>
    </div>

    <!-- Al doilea membru al echipei -->
    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-xl-4 oj-xxl-4">
      <div class="oj-flex-item">
        <h3>Jane Doe</h3>
        <p>CTO</p>
        <img
          src="https://media.istockphoto.com/id/1091058068/photo/businesswoman.jpg?b=1&s=612x612&w=0&k=20&c=Ie5QEmngAgsLZ2fsFQR8IMgpckPRmkjHH1bGBXJjZak="
          alt="Jane Doe"
          a
          height="200"
        />
      </div>
    </div>

    <!-- Al treilea membru al echipei -->
    <div class="oj-sm-12 oj-md-4 oj-lg-4 oj-xl-4 oj-xxl-4">
      <div class="oj-flex-item">
        <h3>Bob Johnson</h3>
        <p>Lead Developer</p>
        <img
          src="https://media.gettyimages.com/id/107430211/photo/businessman-standing-alone-in-conference-room.jpg?s=612x612&w=gi&k=20&c=dm5GExxjsifiBwXsnc0fAnqEOlIA2gvQc7HwJizLS1s="
          alt="Bob Johnson"
          height="200"
        />
      </div>
    </div>
  </div>
</div>
